<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 content">
  <a href="{{ propertyLink }}">
    <div class="content-box">
      <div class="image-card" style="background: url('{{ propertyImage }}') no-repeat center center/cover;">
        <div class="image-overlay"></div>
      </div>
      <div class="content-card">
        <h2 class="title-card">{{ propertyAddress }}</h2>
        <p>Current tenant: <span class="current-tenant">{{ propertyTenant.propertyTenantName }}</span></p>
        <p>Lease Date: <span class="current-tenant">{{ propertyTenant.propertyTenantAge }}</span></p>
        <p>Notes: <span class="current-tenant">{{ propertyNotes }}</span></p>
      </div>
    </div> <!-- content-box -->
  </a>
</div> <!-- content -->
